/* *{
    margin: 0%;
    padding: 0%;
    
} */




/* This only changes this particular animation duration
.animate__animated .animate__bounce {
    --animate-duration: 2s;
  }
  
/* This changes all the animations globally */
  /* :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  } */ */




/* 
header nav li{
    font-family: 'Spline Sans Mono', monospace;
    color: black;
    font-weight: bolder;    
    
    
} */



/* .nav-item:hover{
    border-radius: 15px;
    transition-duration: 1.5s;
    font-size: larger;
} */


/* @media only screen and (max-width: 992px) {
    .navbar-collapse {
        top: 50px;
        padding: 20px;
        border-radius: 20px 0px 20px 20px;
        z-index: 10;
    }

    .sec1y2{
        display: flex;
        flex-direction: row-reverse;
        background-color: aqua;
    }
} */




header nav li a{
    font-size: large;
    
}

header nav li a:hover{
    transform: scale(1.100);
    transition: 1.5s;
    background-color: rgb(168, 168, 168);
}





.mainbootstrap{
    background-image: url(../img/fondo.jpg);
    background-size: 100%;

}


.sec1y2{
    background-image: url(../img/fondo.jpg);
    background-size: 100%;

}




.section3, .section5{
    background-color: white;
    
}

.section3 img , .section5 img{
    width: 10%;
    border-radius: 50%;
    
}

.section5 img:hover{
    transform: scale(1.100);
    transition: 1.5s;
}

.section3 img:hover{
    transform: scale(1.100);
    transition: 1.5s;
}




.section4 .videosSection video{
    width: 30%;
    margin: 10PX;
}


.section6{
    background-image: url(../img/fondo.jpg);

}

.section6 .spotify, .section6 .twitter{
    
    height:70vh;
    width:30vw;
}

.reproductor{
    height:70vh ;
    border-radius: 15px;
    width:30vw;

}




footer .sponsorsT{
    background-color: rgb(254, 254, 254);

}

footer .sponsors{

    background-image: url(../img/fondo.jpg);
    background-size: 100%;

}



footer .sponsors img{

    margin: 5%;
    border-radius: 50%;
}

footer .sponsors img:hover{
    transform: scale(1.3) rotate(360deg);
    transition: 1.5s;
    translate: translate(20px, 20px);

}



footer .pie-de-pagina{
    background-color: aliceblue;


}


footer .fondosponsorspartidos{
    background-color: white;
}


footer .hashtag{
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.titulo-sponsors{
    font-size: xx-large;
    font-weight: bolder;
}

footer section .bi{
    font-size: large;
    margin: 10px;
    
}


/* Animaciones generales  */







/* Animaciones Index */











/* --------------------------------- */
    /* PARTIDOS */


    .fondorojo{
        background-color: #c91b1c;
    }

    .partidosmain{
        background-image:url(../img/fondo.jpg);
        background-size: 100%;
    }

    /* .rojo{
        background-color: rgba(222, 118, 118, 0.677);
    } */



    /* PLANTEL */
    .fondoimagen{
        background-image:url(../img/fondo.jpg);
        background-size: 100%;
    }




/* ---------------------------------- */




/* HISTORIA*/
/* .historia .fondoimagenhistoria{
    background-image: url(../img/juan-copa-blackwhite.jpeg);
    background-size: 100%;
} */

/* .yearcolor{
    background-color: white;
} */



header .navbar{
    justify-content: flex-end;
}






/* ---------------------------------------- */

/* media query para que se reduzcan los sponsors */

/* @media only screen  and (max-width: 992px) {

    
    .sponsors section img{
        height: 50% ;
    }



}

@media only screen  and (max-width: 500px) {

    
    .sponsors section img{
        height: 50% ;
    }



} */


/* media query para que el navbar no se encime antes de comprimirse en hamburguesa */

@media (min-width: 1200px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}