*{
    margin: 0%;
    padding: 0%;
    
}

.estructura-grid{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;    
}

header { 
    grid-area: header;
    display: flex;
    background-color: white;
    padding: 20px;
    position: sticky;
    width: 100vw;

}

header .parte-arriba, nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
}

/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }



header .parte-arriba section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

header nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    text-decoration: none;
    flex-wrap: wrap;
    
}



header nav li{
    display: inline;
    text-align: center;
    margin: 5px;
    font-family: 'Spline Sans Mono', monospace;
    color: black;
    text-decoration: none;
    font-weight: bolder;    
    
    
    
}

.nav-item:hover{
    border-radius: 15px;
    transition-duration: 1.5s;
    font-size: larger;
}


@media only screen and (max-width: 992px) {
    .navbar-collapse {
        top: 50px;
        padding: 20px;
        border-radius: 20px 0px 20px 20px;
        z-index: 10;
    }

    .sec1y2{
        display: flex;
        flex-direction: row-reverse;
        background-color: aqua;
    }
}




header nav li a{
    display: inline;
    text-decoration: none;
    font-size: large;
    color: black;
}




.mainIndex {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    'sec1y2 sec1y2 sec1y2'
    'section3 section3 section3'
    'section4 section4 section4'
    'section5 section5 section5'
    'section6 section6 section6';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;

}


.mainbootstrap{
    background-image: url(img/fondo.jpg);
    background-size: 100%;

}


.sec1y2{
    grid-area: sec1y2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/fondo.jpg);
    position: fixed;
    background-size: 100%;

}

.sec1y2 .section1{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.sec1y2 .section2{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}


.sec1y2 .section1 img, .sec1y2 .section1 p{
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 20px;
    margin: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    font-weight: bold;
}


.sec1y2 .section2 article{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-around;
    
}

section .section2 p{
    font-family: 'Oswald', sans-serif;
    font-size: large;
    font-weight: bold;
}

.section3{
    width: 100%;
}



.section3, .section5{
    grid-area: section3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: white;
    
}

.section3 img , .section5 img{
    width: 10%;
    border-radius: 50%;
    
}

.section5 img:hover{
    transform: scale(1.100);
    transition: 1.5s;
}

.section3 img:hover{
    transform: scale(1.100);
    transition: 1.5s;
}

.section4{
    grid-area: section4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.section4 .videosSection, .section4 .videoGrande{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4 .videoGrande{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
}

.section4 .videosSection video{
    width: 30%;
    margin: 10PX;
}

.section5{
    grid-area: section5;
}

.section6{
    grid-area: section6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/fondo.jpg);

}

.section6 .spotify, .section6 .twitter{
    margin: 30px;
    height:70vh;
    width:30vw;
}

.reproductor{
    height:70vh ;
    border-radius: 15px;
    width:30vw;

}





.mainHistoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mainHistoria .year{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    background-color: white;
    border-radius: 15px 0;
}

.mainHistoria .titulohistoria{
    margin: 10px;
    font-size: larger;
    font-weight: bolder;
}


.mainHistoria .year section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.mainHistoria .fondo-texto-descripcion{
    width: 100%;
    margin: 15px;
}

.mainHistoria section img{
    width: 40%;
    height: 30vh;
    margin: 10px 5%;
}


.mainHistoria .year h4{
    margin: 20px;
    
}




footer{
    grid-area: footer ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .sponsorsT{
    width: 100%;
    background-color: rgb(254, 254, 254);
    display: flex;
    justify-content: center;
}

footer .sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/fondo.jpg);
    background-size: 100%;
    width: 100%;
}

footer .sponsors .imagenes-sponsors{
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


footer .sponsors img{
    width: 200px;
    height: 200px;
    margin: 5%;
    border-radius: 50%;
}

footer .sponsors img:hover{
    transform: scale(1.3);
    transition: 1.5s;
}



footer .pie-de-pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    width: 100%;

}


footer .fondosponsorspartidos{
    background-color: white;
}

footer .pie-de-pagina img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

footer .hashtag{
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
}

.titulo-sponsors{
    font-size: xx-large;
    font-weight: bolder;
}

footer section .bi{
    font-size: large;
    margin: 10px;
    
}



@media only screen  and (max-width: 500px) {

    
    .sponsors img{
        width: 10px;
    }



}




