header{
    border-bottom: 3px solid grey;
    background-color: white;

    .margendearriba{
        margin-top: 20px;
        
    }

    section{
        h2{
            // font-family: 'Oswald', sans-serif;
            // font-family: 'Spline Sans Mono', monospace;
            // font-family: 'Oswald', sans-serif;
            font-family: 'Rubik', sans-serif;
            font-size: xx-large;
            // font-family: 'Spline Sans Mono', monospace
        }

        p{

        }
    }
    
    .navbar{
        display: flex;
        justify-content: flex-end;
    }

    .navbar-light{
        .navbar-nav{

            .nav-link{
                color: white;
            }
        }
    }  
    nav{
        ul{
            li{
                font-family: 'Spline Sans Mono', monospace;
                font-weight: bolder;

                .nav-link{
                    color: white;

                }

                .colordiferenciado{
                    background-color: map-get($colorscale , background-color1 );
                }

                a{
                    background-color: map-get($colorscale , background-color2 );
                    font-size: large;
                   

                    &:hover{
                        transform: scale(1.100);
                        transition: 1.5s;
                        background-color: #fefae4;

                    }
                }
            }
        }
    }

    .titulares{
        h2{
        font-weight: bolder;
            p{
                font-style: italic;

            }
        }
    }
}


@media only screen and (max-width: 600px){


    header img{
        width: 50%;
        padding-bottom: 10px;
    }

    header nav{
        width: 70%;
    }
}


@media only screen and (max-width: 770px){
    header section .titular{
        
        font-size: large
        

    }
}