header{
    nav{
        ul{
            li{
                a{
                    background-color: rgb(255, 202, 212);
                }
            }
        }
    }

    .titulares{
        h2{
        font-weight: bolder;
            p{
                font-style: italic;

            }
        }
    }
}
