 
main{
    .section3:hover{
        background-color:rgb(255, 202, 212); ;
        transition: 1.5s
    }

    .section4{
        background-color: rgb(255, 202, 212);
        border-radius: 20px;
        border: solid 3px black;
            video{
                border: solid 3px black;

        }
    }
}
